body {
  background-color: blue;
  background-color: cyan;
  margin: auto;
}
.tableau {
  border-collapse: collapse;
}
.tableau td,
.tableau th {
  border: 1 px dotted #aaa;
  border: 2px solid black;
  padding: 5px;
}
  background-color: red;
